.chbox {
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
  position: absolute;
  text-align: center;
  width: 30%;
  height: 500px;
  border: 1px;
  border-radius: 2%;
  background-color: rgba(193, 216, 252, 0.901);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.submit {
  width: 60px;
  height: 44px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: rgb(35, 91, 171);
}

.ch {
  border: none;
  width: 380px;
}

.sen {
  margin-top: 14px;
  color: rgb(255, 255, 255);
}

.chat-input {
  transform: translate(-50%, 60%);
  top: 40%;
  left: 50%;
  position: absolute;
  text-align: center;
  /* transform: translateX(545px) translateY(400px); */
}
.chat-history {
  text-align: center;
  margin-top: 30px;
  word-break: break-all;
  height: 55vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.chat-message::after {
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-top-color: rgb(235, 241, 252);
  content: "";
  display: block;
  position: absolute;
  margin-left: 80px;
  margin-top: 6px;
}

.msg_box {
  position: relative;
  display: flex;
  margin-right: 15px;
}

.chat-message {
  padding: 7px;
  background-color: rgb(235, 241, 252);
  width: fit-content;
  margin-top: 15px;
  border: 1px;
  border-radius: 15px;
  max-width: 100%;
}

.chat-messagecenter {
  padding: 7px;
  background-color:  rgb(35, 91, 171);
  color: white;
  width: fit-content;
  margin-top: 15px;
  border: 1px;
  border-radius: 15px;
  max-width: 100%;
}